*{
    margin: 0;
    padding: 0;
}
.top{
    background-image: url(../images/istockphoto-1254062265-612x612.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
}

.ins {
    background: linear-gradient(to right, rgba(0, 0, 255, 0.568), rgba(0, 0, 255, 0.082), rgba(0, 0, 255, 0));
    width: 100%;
    height: 100%;
}
.ins h1{
    padding: 250px 0 0 200px;
    color: white;
}
.us{
    color: blue;
    margin: 40px 0 30px 150px;
}
.paragraphs{
    margin-left: 150px;
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.sub{
    margin-top: 50px;
}
.sub h2{
    color: rgb(7, 7, 54);
    margin-bottom: 10px;
}
.form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.form input {
    margin-top: 30px;
    margin-right: 1000px;
}
.all{
    flex-direction: column;
}

.show{
    margin-bottom: 40px;
}
.text{
    margin-bottom: 40px;
}

.btn{
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(6, 6, 43);
    color: white;
    border: none;
}